.home {
  width: 100vw;
  height: auto;
  padding: 0 2rem;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  user-select: none;
}

@media (max-width: 480px) {
  .home {
    padding: 0 1rem;
  }
}
