/* MOBILE */

.m-hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
}

.m-hero-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  /* transform: translateX(-100%); */
}

.m-first-name {
  font-family: "regular", sans-serif;
  font-size: 3rem;
}

.m-hero-img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.m-hero-img img {
  width: 100%;
  height: 100%;
}

.m-last-name {
  font-size: 6rem;
}

.m-show-bio {
  padding: 10px 30px;
  border-radius: 999px;
  background-color: var(--bg-secondary);
  font-family: "regular", sans-serif;
  font-size: 0.8rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.m-about-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.m-about {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-about h1 {
  letter-spacing: 1px;
  font-family: "bold", sans-serif;
  margin-bottom: 1rem;
  line-height: 1;
}

.m-about p {
  font-family: "regular", sans-serif;
}

.m-close-bio {
  height: 40px;
  width: 130px;
  border-radius: 999px;
  background-color: var(--bg-secondary);
  font-family: "regular", sans-serif;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}


@media (max-width: 415px) {
  .m-about-wrapper {
    scale: .9;
    
  }

  .m-about {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .m-about-wrapper {
    scale: .8;
  }

  .m-about {
    width: 100%;
  }
}