/* first name */

.hero-first-name {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-family: "regular", sans-serif;
  transform: translateY(8rem);
  z-index: 7;
}

.hero-nilanshu {
  font-size: clamp(50px, 12.5vw, 240px);
  transform: translateY(2.9rem);
  position: relative;
  left: 0;
}

.hero-bio {
  padding: 10px 20px;
  background-color: var(--bg-secondary);
  border-radius: 99px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.hero-bio:hover {
  background-color: var(--bg-tertiary);
}

@media (max-wdith: 480px) {
  
}