.img {
  position: absolute;
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 1rem;
  z-index: 5;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 1.01;
}

@media (max-width: 480px) {
  
}